.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.header h1{
    color: turquoise;
}
.searchBar {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card div{
    margin-bottom: 10px;
}
.button{
    background-color: white;
    color: #ff6f61;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    background-color: #ff6f61;
}